#recaptchaContainer{
    margin-bottom: 5px;
}
.container .title-container {
    font-size: 45px;
    font-weight: bold;
}
.icono{
    padding: 30px;
    text-align: center;
    margin: 0 auto;
}

.container{
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 30px;
}

.botones a{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin: 5px;
}